body {
  margin: 0;
  font-family: 'Iceberg', cursive;
}
header {
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: rgb(219, 128, 184);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0;
  font-family: 'Ribeye Marrow', cursive;
  font-size: 30px;
}
.example {
  margin: auto;
  transform: translateY(-138px);
  width: 1000px;
  height: 200px;
  outline: none;
  border-radius: 10px;
}
.example img {
  border-radius: 10px;
  height: 200px;
  cursor: pointer;
  outline: none;
}
#background {
  width: 100%;
  height: 110vh;

  overflow: hidden;
}
#background img {
  width: 100%;
  overflow: hidden;
  height: 100%;
  filter: blur(8px);
  transform: scale(1.1);
}
#overlap {
  width: 100%;
  position: absolute;
  top: 180px;
}
#player-card {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 430px;
  width: 400px;
  background-color: rgb(0, 0, 0);
  transform: translate(50%, 15%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(107, 106, 106);
}
#player-thumb {
  width: 100%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#player-desc {
  width: 100%;
}
#song-title {
  text-align: center;
  margin-top: 0;
  font-size: 25px;
}

#controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-control {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 15px;
  height: 15px;
  padding: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px #fff;
  border-radius: 100px;
  cursor: pointer;
}
#play-pause {
  width: 20px;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px #fff;
  border-radius: 100px;
  cursor: pointer;
  padding: 15px 15px;
}
#progress-bar {
  margin-top: 10px;
  width: 70%;
}
#progress {
  -webkit-appearance: none;

  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    to right,
    blueviolet 0%,
    blueviolet 0%,
    #fff 0%,
    #fff 100%
  );
  border-radius: 10px;
  cursor: pointer;
}
#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: blueviolet;
  box-shadow: 0 0 10px blueviolet;
}

#vol-duration {
  margin-top: 10px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon1 {
  width: 10px;
  height: 10px;
}

#speaker {
  width: 20px;
  height: 20px;
}
#vol {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#vol-bar {
  margin-top: 10px;

  width: 70%;
}
#curr-vol {
  width: 100%;
  height: 5px;
  -webkit-appearance: none;

  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: linear-gradient(
    to right,
    #fd019d 0%,
    #fd019d 50%,
    #fff 50%,
    #fff 100%
  );
  border-radius: 10px;
  cursor: pointer;
}
#curr-vol::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 5px;
}

#vol-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#input-cont {
  margin: auto;
  margin-top: 90px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.song-input {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 16px;
  color: aqua;
}
.song-input::placeholder {
  color: aqua;
}
#btn-send {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 16px;
  color: aqua;
  cursor: pointer;
  border: 1px solid aqua;
  box-shadow: 0 0 5px aqua;
}
#player-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: -195px;
}

#playlist {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 10px;
  transform: translate(50%, 20%);
  max-height: 400px;
  height: 55px;
  transition: height 1s linear;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#playlist:hover {
  height: 400px;
}
#playlist-items {
  overflow: auto;
  margin-top: 35px;
}
#playlist-items::-webkit-scrollbar {
  display: none;
}
.playlist-item {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.search-box {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 10px;
  box-sizing: border-box;
  position: fixed;
  top: 55px;
}
#search-box {
  background: none;
  width: 100%;
  padding: 0px 10px;
  font-size: 18px;
  color: aqua;
  font-weight: 500;
  border: none;
  outline: none;
  letter-spacing: 1px;
  margin: 0;
}
#search-box::placeholder {
  color: aqua;
  font-family: 'Iceberg', cursive;
}
.playlist-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.song-title {
  margin: 0;

  font-size: 16px;
}
.playlist-thumb {
  width: 60px;
  height: 40px;
  border-radius: 10px;
}
#playlist-header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.2);

  padding: 0px 10px;
  border-radius: 10px;
  box-sizing: border-box;
}
#playlist-header h1 {
  margin-top: 10px;
  font-size: 25px;
}
#arrow {
  width: 25px;
  transition: transform 1s linear;
}
.hidden {
  display: none;
}

@media (max-width: 700px) {
  .example {
    width: 350px;
    height: 100px;
  }
  .example img {
    height: 100px;
  }
  .hide {
    display: none;
  }

  #player-card {
    width: 100%;

    transform: none;
    transform: translate(10%, 6%);
  }
  .changeHeight {
    height: 30vh !important;
  }
  header h1 {
    font-size: 30px;
  }
  #main-control {
    width: 45%;
  }
  #input-cont {
    display: block;
    margin-top: 120px;
  }
  .song-input {
    margin-bottom: 10px;
    font-size: 12px;
  }
  #btn-send {
    font-size: 12px;
  }
  #player-section {
    display: block;
    transform: translateY(50px);
  }
  #background {
    height: calc(100vh + 850px);
  }
  #playlist {
    width: 100%;
    margin-left: 30px;
    height: 400px;
    transform: translate(0, 10%);
    transition: none;
  }
  #arrow {
    transition: none;
  }
}
@media (max-width: 400px) {
  #curr-vol {
    width: 90px;
    margin-left: -10px;
  }
}
