body {
  margin: 0;
  font-family: 'Iceberg', cursive;
}
header {
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: rgb(219, 128, 184);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  margin: 0;
  font-family: 'Ribeye Marrow', cursive;
  font-size: 50px;
}
#background {
  width: 100%;
  height: calc(100vh - 70px);
  overflow: hidden;
}
#background img {
  width: 100%;
  overflow: hidden;
  height: 100%;
  filter: blur(8px);
  transform: scale(1.1);
}
#overlap {
  position: absolute;
  top: 0;
}
#player-card {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 28vw;
  background-color: rgb(0, 0, 0);
  transform: translate(50%, 30%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(107, 106, 106);
}
#player-thumb {
  width: 100%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#player-desc {
  width: 100%;
}
#song-title {
  text-align: center;
  margin-top: 0;
  font-size: 25px;
}

#controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-control {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 15px;
  height: 15px;
  padding: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px #fff;
  border-radius: 100px;
  cursor: pointer;
}
#play-pause {
  width: 20px;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px #fff;
  border-radius: 100px;
  cursor: pointer;
  padding: 15px 15px;
}
#progress-bar {
  margin-top: 25px;
  width: 70%;
  height: 5px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
#current-progress {
  width: 0%;
  height: 5px;
  border-radius: 10px;
  background-color: blueviolet;
  position: relative;
}
#progress-handle {
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  position: absolute;
  right: 0;
  top: -150%;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px blueviolet;
}
#vol-duration {
  margin-top: 10px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon1 {
  width: 10px;
  height: 10px;
}

#speaker {
  width: 20px;
  height: 20px;
}
#vol {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#vol-bar {
  margin-top: 10px;

  width: 70%;
  height: 5px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
#vol-curr-progress {
  width: 50%;
  height: 5px;
  border-radius: 10px;
  background-color: #fd019d;
  position: relative;
}

#vol-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  #player-card {
    width: 80%;
    transform: none;
    transform: translate(10%, 40%);
  }
  header h1 {
    font-size: 30px;
  }
  #main-control {
    width: 45%;
  }
}
